#score_area 
{
    text-align: center;
    font-size: 40px;
    color: rgb(27, 213, 238);
}

#restart_area 
{
    display: none;
}

.container 
{
    width: 500px;
    position: relative;

    display: flex;
    flex-direction: column;
}

.game-entity 
{
    position: absolute;
}

.player 
{
    width: 10px;
    height: 30px;
    background: green;
    left: 240px;
    top: 20px;

    display: none;
}

.enemy 
{
    width: 150px;
    height: 10px;
    border-right: 10px solid red;
    border-left: 10px solid red;
}

.finish 
{
    background-color: green;
}

#game_area 
{
    position: relative;
    width: 100%;
    height: 500px;
    display: block;
    border: 2px solid rgb(243, 210, 103);
    background-color: #cccccc;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 4%;
    overflow: hidden;
}
